{% extends "base.html" %}
{% block title %}Aircraft - Rio Aero Club{% endblock %}
{% block content %}

<div class="container" style="padding:20px;">

    <h2 class="display-4">1979 Citabria (7ECA) - N5047U</h2>

    <p class="lead">Join Rio and come fly the Citabria!</p>

    <p>
    - ADSB-out equipped (978mhz)<br>
    - Metal wing STC<br>
    - Approved for aerobatics (-2.0 G, +5.0 G)
    </p>

    <p>Current cost (Jan. 2020) is <strong>$72/hr wet.</strong></p>

    <p><img style="height: 24px;" src="/static/images/pdf.png" alt="PDF"> <a href="/static/docs/ACA%20Citabria%20POH.pdf">View Pilot's Operating Handbook (1.8MB)</a></p>

</div>

<img src="/static/images/aircraft1.jpg" class="img-fluid" alt="Citabria">
<img src="/static/images/aircraft2.jpg" class="img-fluid" alt="Citabria">
<img src="/static/images/aircraft3.jpg" class="img-fluid" alt="Citabria">
<img src="/static/images/aircraft4.jpg" class="img-fluid" alt="Citabria">

{% endblock %}