{% extends "base.html" %}
{% block title %}Contact Us - Rio Aero Club{% endblock %}
{% block content %}

<div class="container" style="padding:20px;">

    <p>Email: <a href="mailto:rioaeroclub@gmail.com">rioaeroclub@gmail.com</a></p>

    <p><a href="https://www.facebook.com/RioAeroClub/" target="_blank">Facebook Page</a></p>

    <hr>

    <p><strong>Drive:</strong> <a target="_blank" href="https://goo.gl/maps/ZByne3NGapgaPhEY6">W5019 Hwy 16, Rio, WI 53960</a></p>
    
    <p><strong>Fly:</strong> <a href="https://skyvector.com/airport/94C/Gilbert-Field-Airport" target="_blank">94C Airport</a></p>

</div>

<img src="/static/images/contact1.jpg" class="img-fluid" alt="Rio Airport 94C Gilbert Field Pancakes" style="width:100%">

<img src="/static/images/contact2.jpg" class="img-fluid" alt="Rio Airport 94C Gilbert Field" style="width:100%">



{% endblock %}

